body {
    font-family:Arial, Helvetica, sans-serif;  
    margin:20px;
}

p{
    color:darkslategray;
    font-style:italic;
}

h2 {
}
#checkboxes {
    padding:10px;
}

#selectors {

    padding:10px;
}

.labeltext {
    color:slategray;
}