<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/stylesheet.css">
        <meta name="author" content="Peyton Wang and Ariel Traver">
        <!-- for mobile-friendly pages -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Campus Creatures</title>
    </head>
    <body>
        <h1>Campus Creatures</h1>
        <h2>Gathering info on Wells wildlife </h2>
       
        <form id="animal-form" method="post" action="https://cs.wellesley.edu/~cs304/cgi-bin/dump.cgi">
            <!-- checkboxes for choosing seen animals -->
            <div id="checkboxes" class="section">
                <p class="labeltext">Tell us about which of Wellesley's varmints you have spotted.</p>
                <input type="checkbox" id="seen-elt-1" name="seen1">
                <label for="seen-elt-1"> squirrel</label><br>
                <input type="checkbox" id="seen-elt-2" name="seen2">
                <label for="seen-elt-2"> goose</label><br>
                <input type="checkbox" id="seen-elt-3" name="seen3">  
                <label for="seen-elt-3"> muscovy duck</label><br>
                <input type="checkbox" id="seen-elt-4" name="seen4">
                <label for="seen-elt-4"> raccoon </label><br>
                <input type="checkbox" id="seen-elt-5" name="seen5">  
                <label for="seen-elt-5"> Wendy</label> 
            </div>
            
            <!-- pull-down menus for selecting cutest and scariest animals -->
            <div id="selectors" class="section">
                <div id="cutest-selector" class="selector">
                    <p class="labeltext">Which animal is the cutest?</p>
                    <select name="cutest" id="cutest-elt">
                        <option value="squirrel">squirrel</option>
                        <option value="goose">goose</option>
                        <option value="muscovy duck">muscovy duck</option>
                        <option value="raccoon">raccoon</option>
                        <option value="Wendy">Wendy</option> 
                    </select>
                </div>

                <div id="scariest-selector" class="selector">
                    <p class="labeltext">Which animal do you fear the most?</p>
                    <select name="scariest" id="scariest-elt">
                        <option value="squirrel">squirrel</option>
                        <option value="goose">goose</option>
                        <option value="muscovy duck">muscovy duck</option>
                        <option value="raccoon">raccoon</option>
                        <option value="Wendy">Wendy</option> 
                    </select>
                </div>
            </div>
            
            <!-- textbox to add other information -->
            <div id="other-textbox" class="section">
                <p><label for="other-elt" class="labeltext">Which other creatures have you seen?</label><br></p>
                <textarea name="textbox" id="other-elt"></textarea>
            </div>

            <!-- submit button -->
            <div id="submit-button">
                <input type="submit" id="submit-elt" value="Submit">
            </div>
        </form>
    </body>    
</html>
